.menu {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* or center if needed */
}

.menu__wrap {
  display: flex;
  justify-content: center;
}
